@use 'base/variables' as v;
@use 'base/mixins' as m;

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: v.$body-font;
    font-size: 1.5rem;
    @include m.tablet{
        min-height: 100%;
        display: flex;
        place-items: center;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: v.$heading-font;
}

.container {
    min-width: 32.7rem;
    max-width: 92rem;
    margin: 0 auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
