@use 'base/variables' as v;
@use 'base/mixins' as m;

.categories {
    border-radius: .8rem;
    overflow: hidden;
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 50rem;
    }
}
.category {
    padding: 4.8rem 4.75rem 4.8rem 4.85rem;

    @include m.tablet{
        padding: 4.8rem 4.75rem 4.8rem 4.75rem;
    }

    &:nth-child(1) {
        background-color: v.$bright-orange;
        color: v.$bright-orange;
    }

    &:nth-child(2) {
        background-color: v.$dark-cyan;
        color: v.$dark-cyan;
    }

    &:nth-child(3) {
        background-color: v.$very-dark-cyan;
        color: v.$very-dark-cyan;;
    }

    &__logo {
        width: 6.4rem;
        margin-bottom: 3.5rem;
    }

    &__title {
        color: v.$very-light-gray;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    &__description {
        color: v.$transparent-white;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 2.5rem;

        @include m.tablet{
            margin-bottom: 8.3rem;
        }
    }

    &__link {
        all: unset;
        background-color: v.$very-light-gray;
        width: 14.6rem;
        height: 4.8rem;
        border-radius: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 25px;

        &:hover {
            color: v.$transparent-white;
            border: 2px solid v.$transparent-white;
            background-color: transparent;
            cursor: pointer;
        }
    }
}